# ~/.bashrc: executed by bash(1) for non-login shells.

# If not running interactively, don't do anything
case $- in
    *i*) ;;
      *) return;;
esac

{{ if eq .chezmoi.os "linux" }}
exec /usr/bin/fish
{{ else if eq .chezmoi.os "darwin" }}
exec /opt/homebrew/bin/fish
{{ end }}
