# $HOME/.config/fish/conf.d/02-path.fish
{{ if eq .chezmoi.os "linux" }}
fish_add_path /home/linuxbrew/.linuxbrew/bin/
{{ else if eq .chezmoi.os "darwin" }}
fish_add_path /opt/homebrew/bin
{{ end }}
fish_add_path $HOME/bin
fish_add_path $HOME/.local/bin
