set -gx OPENAI_API_KEY {{ (keepassxc "API KEY/AICHAT-OPENAI").Password}}
set -gx XAI_API_KEY {{ (keepassxc "API KEY/AICHAT-XAI").Password }}
set -gx GEMINI_API_KEY {{ (keepassxc "API KEY/AICHAT-GEMINI").Password }}
set -gx DEEPSEEK_API_KEY {{ (keepassxc "API KEY/AICHAT-DEEPSEEK").Password }}
set -gx CLAUDE_API_KEY {{ (keepassxc "API KEY/AICHAT-CLAUDE").Password }}
