set --global AIHUBMIX_BASE_URL "https://aihubmix.com"
set --global AIHUBMIX_API_KEY {{ (keepassxc "API KEY/AICHAT-AIHUBMIX").Password}}
set --global XAI_API_KEY {{ (keepassxc "API KEY/AICHAT-XAI").Password }}
set --global DEEPSEEK_API_KEY {{ (keepassxc "API KEY/AICHAT-DEEPSEEK").Password }}
set --global KIMI_BASE_URL_FOR_ANTHROPIC "https://api.moonshot.cn/anthropic"
set --global KIMI_API_KEY {{ (keepassxc "API KEY/CLAUDECODE-KIMI").Password }}

