set -gx AIHUBMIX_API_KEY {{ (keepassxc "API KEY/AICHAT-AIHUBMIX").Password}}
set -gx XAI_API_KEY {{ (keepassxc "API KEY/AICHAT-XAI").Password }}
set -gx DEEPSEEK_API_KEY {{ (keepassxc "API KEY/AICHAT-DEEPSEEK").Password }}
set -gx ANTHROPIC_API_KEY {{ (keepassxc "API KEY/CLAUDECODE-KIMI").Password }}

