
# FOR NJU VENUE SCRIPT
# set --global --export NJU_USERNAME {{ (keepassxc "NJU").UserName }}
# set --global --export NJU_PASSWORD "{{  keepassxcAttribute "NJU" "env" }}"

# set --global --export EMAIL_USERNAME_FOR_NJU_VENUE {{ (keepassxc "电子邮件/163 MAIL").UserName }}
# set --global --export EMAIL_PASSWORD_FOR_NJU_VENUE {{ (keepassxc "电子邮件/163 MAIL").Password }}
# set --global --export EMAIL_RECIPIENT_FOR_NJU_VENUE {{ (keepassxc "电子邮件/QQ FOXMAIL").UserName }}

